<script setup lang="ts">
import FirstComponent from '@/components/FirstComponent.vue';
import SecondComponent from '@/components/SecondComponent.vue';

</script>
<template>
  <v-row>
    <v-col class="ma-8">
      <FirstComponent></FirstComponent>
    </v-col>
    <v-col class="ma-8">
      <SecondComponent></SecondComponent>
    </v-col>
  </v-row>

</template>
