<script lang="ts" setup>
import { ref } from "vue";
const emotion = ref("Smile");
const img = ref("../../feeling_imgs/smile.png");
</script>

<template>
  <v-row>
    <v-col class="d-flex justify-center align-center ma-10">
      <v-img :src="img" max-width="25vw"></v-img>
    </v-col>
        <v-col class="ma-10">
        <h2 class="text-center">{{ emotion }}</h2>
        <v-container>
          <v-row>
            <v-btn class="my-4" block @click="(emotion = 'Angry'), (img = '../../feeling_imgs/angry.png')">Angry</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-4" block @click="(emotion = 'Cute'), (img = '../../feeling_imgs/cute.png')">Cute</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-4" block @click="
              (emotion = 'Excited'), (img = '../../feeling_imgs/excited.png')
            ">Excited</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-4" block @click="(emotion = 'Pain'), (img = '../../feeling_imgs/pain.png')">pain</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-4" block @click="
              (emotion = 'Shocked'), (img = '../../feeling_imgs/shocked.png')
            ">shcoked</v-btn>
          </v-row>
          <v-row>
            <v-btn class="my-4" block @click="(emotion = 'smile'), (img = '../../feeling_imgs/smile.png')">smile</v-btn>
          </v-row>
        </v-container>
      </v-col>
  </v-row>

</template>

<style scoped>
.v-btn {
  background-color: white;
}

.v-btn:focus {
  background-color: yellow;
}
</style>
