<script lang="ts" setup>
import { ref } from "vue";


const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

class Order {
  id: number;
  name: string;
  price: number;
  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

const total = ref(0);

function add(id: number, name: string, price: number) {
  const order = new Order(id, name, price);
  console.log(order);
  orderList.value.push(order);
  console.log(orderList);
  total.value = total.value + price;
}

const orderList = ref<Order[]>([]);


</script>
<template>
  <v-row class="ma-10">
    <v-col>
      <v-container style="overflow: auto; max-height: 43vw">
        <v-row>
          <v-col cols="4" v-for="item in products" :key="item.id" class="text-center">
            <v-card class="mx-auto" max-width="400">
              <v-card-title>{{ item.name }}</v-card-title>
              <v-card-subtitle>{{ item.price }}</v-card-subtitle>
              <v-btn @click="add(item.id, item.name, item.price)">ADD</v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-col>

    <v-col>
      <v-container style="overflow: auto; height: 35vw">
        <v-row>
          <v-col>id</v-col>
          <v-col>name</v-col>
          <v-col>price</v-col>
        </v-row>
        <v-row v-for="(item, index) in orderList" :key="index">
          <v-divider></v-divider>
          <v-col cols="2">{{ item.id }}</v-col>
          <v-col>{{ item.name }}</v-col>
          <v-col>{{ item.price }}</v-col>
        </v-row>
        <v-row v-if="orderList.length === 0">
          <v-divider></v-divider>
          <v-col class="text-center ma-5">NO DATA</v-col>
        </v-row>
      </v-container>
      <v-row style="font-size: 3vw;">Sum: {{ total }}</v-row>
    </v-col>
  </v-row>
</template>
